@model PayNearMe.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<script src="~/Scripts/ChangePassword.js"></script>

<div class="">
    <div class="edit-prof-container">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="signup-img col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-md-5 col-sm-5 col-xs-5 header-profile">
                    <span>Change Password</span>
                </div>
            </div>
        </div>
    </div>
    <div class="body-profile">
    @using (Html.BeginForm("ChangePasswordPost", "Profile", FormMethod.Post, new { id = "changepassword-form" }))
    {
        @Html.AntiForgeryToken()
        <div>
 

            <div class="row row-margin clearfix">
                <span class="col-md-3 col-md-offset-1" style="padding-top:10px">Current Password<span style="color:red"> *</span></span>
                <div class="col-md-5">
                    @Html.PasswordFor(model => model.currentPassword, new { @class = "form-control", @type = "password", @placeholder = "Current Password", @maxlength = "50", @required = "required" })
                 </div>
            </div>

            <div class="row row-margin">
                <span class="col-md-3 col-md-offset-1" style="padding-top:10px">New Password<span style="color:red">*</span></span>
                <div class="col-md-5">
                    @Html.PasswordFor(model => model.newPassword, new { @class = "form-control", @type = "password", @placeholder = "New Password", @maxlength = "50", @required = "required" })
                    <span class="msgnewPassError glyphicon" style="position: absolute; right: 15px; padding: 15px;"></span>
                    <div id="msgnewPassword" class="msgnewPassError hidden"
                         style="width: 100%; text-align: center; font-size: 14px; color: #ff000a; padding: 5px;">
                    </div>
                </div>
            </div>

            <div class="row row-margin">
                <span class="col-md-3 col-md-offset-1" style="padding-top:10px">Confirm Password<span style="color:red">*</span></span>
                <div class="col-md-5">
                    @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Confirm Pasword", @maxlength = "50", @required = "required" })
                    <span class="msgConfNPassError glyphicon" style="position: absolute; right: 15px; padding: 15px;"></span>
                    <div id="msgconfirmPassword" class="msgConfNPassError hidden"
                         style="width: 100%; text-align: center; font-size: 14px; color: #ff000a; padding: 5px;">
                    </div>
                </div>
            </div>
            <div class="row  row-margin">
                <div class="col-md-2 col-md-offset-10">
                    <button type="submit" class="btn btn-blue">Save Changes</button>
                </div>
            </div>
        </div>
}
    </div>
</div>
