<style>
    ol {
        font-weight: bold;
    }
    li > span {
        font-weight: lighter;
    }
</style>
<div style="position: fixed; top: 100px; z-index: 2001; left: 50%; transform: translateX(-50%);">
    <div class="fpHeader" style="min-width: 350px;">
        <h2 class="col-md-12" style="color: white;"><b>ML Remit User Agreement</b></h2>
    </div>
    <div class="fpBody col-md-12" style="text-align: justify; min-width: 350px; background-color: white; height: 400px; overflow-y: scroll;">
        
        This User Agreement is solely between you, the “user” and M. Lhuillier Financial Services, Inc.,
        dba, ML Remit, (“ML”) which is effective as of the date you use the service.
        This contract governs the terms and conditions, under which you use and access ML’s online and mobile app services,
        which include ML Remit mobile application and website, www.mlremit.com.
        By signing up to access our service, you agree that your information may be shared as necessary to complete
        your transaction with our third party partners.
        Should you not agree with these terms and conditions, please immediately stop using the service,
        exit the webpage or remove the mobile application from your device.
        
        <div style="padding: 0 15px; margin: 20px 0;">
                <b>1. Definitions</b>
            <ol type="a">
                <li>
                    <span>
                        User, You, Customer, Sender: Refers to the individual that has registered to use ML’s
                        services and has given consent to the Terms and Conditions set forth in this document.
                    </span>
                </li>
                <li>
                    <span>
                        Company, MLFSI, us, we, our: Refers to M.Lhuillier Financial Services, Inc.
                    </span>
                </li>
                <li>
                    <span>
                        Receiver, Beneficiary:  Refers to the person who will receive your transaction.
                    </span>
                </li>
                <li>
                    <span>
                        Paying Agent: Michel J. Lhuillier Financial Service (MJL) is the sole payer for all transactions paid in the Philippines.
                    </span>
                </li>
                <li>
                    <span>
                        Paying cash upon Sendout: MLFSI has an Agreement with a 3rd party licensed transmitter company, PayNearMe MT, Inc., who authorized the 7-Eleven stores as Agent to collect the cash from ML customers to complete the remittance transaction.
                    </span>
                </li>
                <li>
                    <span>
                        Transaction: Refers to the request you made to send money abroad to your beneficiary.
                    </span>
                </li>
                <li>
                    <span>
                        Sending Amount, Principal Amount: Refers to the principal amount you request to send to your beneficiary.
                    </span>
                </li>
                <li>
                    <span>
                        Transfer Fee: Refers to the service fee charged by MFLSI to process your transaction.
                    </span>
                </li>
                <li>
                    <span>
                        Exchange Rate:Refers to the amount paid to you per dollar in Philippine Pesos.
                    </span>
                </li>
                <li>
                    <span>
                        Payout Amount:  Refers to the amount in Philippine peso amount your beneficiary will receive depending on the current exchange rate displayed before processing and completing your transaction.
                    </span>
                </li>
                
                
            </ol>
        </div>
    </div>
</div>